<div class="my-4">
    <h3>To-do List</h3>
    
    <form method="POST" action="/">
        <div class="my-4">
            <input 
            type="text" 
            name="name" 
            id="" 
            placeholder="Add new task ..."
            required>
            <button type="submit" class="btn btn-link">Add</button>
        </div>
    </form>

    <table class="table table-borderless">
        <thead></thead>

    {{#each list}}
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" name="" id="" checkbox-input-id="{{this._id}}">
                </td>
                <td>
                    <label 
                    for="{{this._id}}" 
                    task-name-id="{{this._id}}">{{this.name}}</label>

                    <div class="d-none" edit-form-id="{{this._id}}">
                        <form 
                        method="POST" 
                        name="edit-form" 
                        action="" 
                        input-form-id="{{this._id}}">
                            <input type="text" name="name" required>
                            <button type="submit" hidden></button>
                        </form>
                    </div>
                </td>
                <td>
                    <span>
                        <button 
                        type="submit" 
                        class="btn btn-link"
                        edit-id="{{this._id}}">Edit</button>

                        <button 
                        type="submit" 
                        class="btn btn-link d-none"
                        update-id="{{this._id}}">Update</button>

                        <button 
                        type="submit" 
                        class="btn btn-link" 
                        delete-id="{{this._id}}">Delete</button>
                    </span>
                </td>
            </tr>
        </tbody>
    {{/each}}
    </table>
</div>

<form method="POST" name="delete-form" action=""></form>

<script>
    var taskNameId, updateTaskId, deleteTaskId
    const inputCheckBoxs = document.querySelectorAll('input[checkbox-input-id]')

    const taskNames = document.querySelectorAll('label[task-name-id]')
    const editFormsDisplay = document.querySelectorAll('div[edit-form-id]')
    const editBtns = document.querySelectorAll('button[edit-id]')
    const updateBtns = document.querySelectorAll('button[update-id]')

    const editForms = document.querySelectorAll('form[input-form-id]')

    const deleteBtns = document.querySelectorAll('button[delete-id]')
    const deleteForm = document.forms['delete-form']

    inputCheckBoxs.forEach(inputCheckBox => {
        inputCheckBox.addEventListener('change', () => {
            taskNames.forEach(taskName => {
                taskNameId = taskName.getAttribute('task-name-id')
                if(taskNameId === inputCheckBox.getAttribute('checkbox-input-id')) {
                    if(inputCheckBox.checked) {
                        taskName.classList.add('text-decoration-line-through')
                    } else {
                        taskName.classList.remove('text-decoration-line-through')
                    }
                }
            })
        })
    })

    editForms.forEach(editForm => {
        editForm.addEventListener('keydown', e => {
            if (e.key === 'Enter') {
            e.preventDefault()
            }
        })
    })

    editBtns.forEach(editBtn => editBtn.addEventListener('click', () => {
        taskNames.forEach(taskName => {
            editFormsDisplay.forEach(editFormDisplay => {
                updateBtns.forEach(updateBtn => {
                    if(editBtn.getAttribute('edit-id') === taskName.getAttribute('task-name-id') && 
                    taskName.getAttribute('task-name-id') === editFormDisplay.getAttribute('edit-form-id') && 
                    editFormDisplay.getAttribute('edit-form-id') === updateBtn.getAttribute('update-id')) {
                        editBtn.classList.add('d-none')
                        taskName.classList.add('d-none')
                        editFormDisplay.classList.remove('d-none')
                        updateBtn.classList.remove('d-none')

                        updateBtn.addEventListener('click', () => {
                            updateTaskId = updateBtn.getAttribute('update-id')
                            editForms.forEach(editForm => {
                                if(updateTaskId === editForm.getAttribute('input-form-id')) {
                                    editForm.action = `/${updateTaskId}?_method=PUT`
                                    if (typeof editForm.requestSubmit === 'function') {
                                        editForm.requestSubmit()
                                    } else {
                                        editForm.submit()
                                    }
                                }
                            })
                        })
                    }
                })
            })
        })
    }))

    deleteBtns.forEach(deleteBtn => deleteBtn.addEventListener('click', () => {
        deleteTaskId = deleteBtn.getAttribute('delete-id')
        deleteForm.action = `/${deleteTaskId}?_method=DELETE`
        deleteForm.submit()
    }))
</script>
